CREATE TABLE admins ( username TEXT PRIMARY KEY, password_hash TEXT NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL ); INSERT INTO admins (username, password_hash) VALUES ('admin', '\\\/Q3KC88fSpVmu1p1Yu3ZViHQciyYDFTyUOObSr9MGOwi');
